.intro-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typing-text {
    margin: 0 auto; /* Centers the header text */
    text-align: center;
}

.glass-card {
    margin: 0 auto; /* Centers the login/options card */
    text-align: center;
}